body {
    background-color: orange;
}
.important {
    background-color: orange;
    border-radius: 20px;
    box-shadow: 0 0 10px 5px greenyellow,
              0 0 20px 7px white;
    width: 700px;
    height: auto;
    margin: 80px 260px;
    padding: 20px;
    text-align: center;
}
.important .form {
    margin-bottom: 20px;
}
input {
    border-radius: 20px;
    border: none;
    height: 30px;
    margin-right: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 5px 10px;
}

button {
    border-radius: 20px;
    border: none;
    height: auto;
    background-color: rgb(5, 5, 73);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
    padding: 10px;
}
.result {
    margin-top: 20px;
}
.result .row {
    padding: 2px;
}
.result .row .box {
    display: inline-block;
    width: 150px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
}